<section class="about-index">
  <article>

    <header class="page-header">
      <h1> Abut Jungle </h1>
    </header>

    <img src="https://i.imgur.com/YHPQQeg.png" class="image-center" />
    <br/>
    <div class="about-description">
      <p> Jungle is an e-commerce website with various unique items that are sure to impress, confuse, or horrify (sometimes all at the same time) your friends and families! Interested in <b>Optimal Sleeping Bed</b> with mathematically correct sleeping oriented design? Do you want to show your relatives how much you love them by sending them useless gadgets like a <b>Hotdog Slicer</b>? How about <b>Modern Skateboards</b> to flex on all your friends who got AirPods 2 instead of something actually awesome from our website? Welcome to the Jungle, where you are sure to find many questionable, but most certainly remarkably unique items not found anywhere else! </p>
    </div>

  </article>

</section>