<section class="about-index">

  <header class="page-header">
    <h1> Abut Jungle </h1>
  </header>

  <img src="https://i.imgur.com/YHPQQeg.png" class="image-center" />

  <article>
    <p> Jungle is your mom </p>

  <article>

</section>