.image-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

main section.about-index {

  .about-description {
    padding: 0px 200px;
    margin-bottom: 150px;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
  }

}